{% extends 'uniVideojuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <h1>tipos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
