{% extends 'uniVideojuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <h1>juegos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('juegos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
